<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1075119415850-l7o9o7mbccm8leeut1d8m454mlvvmpla.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1075119415850-l7o9o7mbccm8leeut1d8m454mlvvmpla</string>
	<key>API_KEY</key>
	<string>AIzaSyCvCsfEm23bAQ0qIfwqyvSBgh0nIUFxjCI</string>
	<key>GCM_SENDER_ID</key>
	<string>1075119415850</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sol.MedicalGwangju</string>
	<key>PROJECT_ID</key>
	<string>medicalgwangju-d9b83</string>
	<key>STORAGE_BUCKET</key>
	<string>medicalgwangju-d9b83.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1075119415850:ios:5f7314ac27c8dd1c</string>
	<key>DATABASE_URL</key>
	<string>https://medicalgwangju-d9b83.firebaseio.com</string>
</dict>
</plist>